.GridBackColor {background-color: white;border-collapse: collapse;line-height: 20px;color: #144263;font-size: X-Small;width: 100%;padding-left: 2px;padding-right: 2px;border: #9cd7ff 1px solid;}
.GridHeadBackColor{white-space: nowrap;background-color:#C8E1FB;}
td{text-align: left;border: #9cd7ff 1px solid;}
.h1{text-align: center;font-size: large}