<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据采集分析站点</title>
{#    <link href="/static/css/indexstyle.css" type="text/css" rel="stylesheet">#}
</head>
<frameset rows="60,27,*" cols="*" frameborder="NO" border="0" framespacing="0">
  <frame name="topFrame" src="../books/topFrame/" noresize target="contents" scrolling="no">
  <frame name="topFrame1" src="../books/colFrame/" noresize scrolling="no">
  <frameset id="centerFrame" name="centerFrame" cols="160,10,*" framespacing="0">
      <frame name="MenuFrame" src="../books/MenuFrame/" scrolling="no" noresize>
      <frame name="pushRLFrame" src="../books/pushRLFrame/" scrolling="no" noresize>
      <frame name="PageFrame" src="../books/PageFrame/" scrolling="yes">
  </frameset>
</frameset>
</html>
