<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style type="text/css">
    body{margin:0px; padding:0px;}
</style>
<script language="javascript">
		var iniCols, noCols, o_mf, o_ms, s;
		function ini() {
			o_mf = parent.document.getElementById("centerFrame");
			o_ms = document.getElementById("menuSwitch");
			noCols = iniCols = o_mf.cols;
			if ((pos = noCols.indexOf(",")) != -1) {
				noCols = "0" + noCols.substring(pos);
			}
			s = false;
		}
		function changeLeft(){
			s = !s;
			o_mf.cols = s ? noCols : iniCols;
			if (s)
				o_ms.src="/static/imgs/arrow-r.gif";
			else
			  	o_ms.src="/static/imgs/arrow-l.gif"
		}
</script>
<body onload="ini()">
<table cellspacing="0" cellpadding="0" border="0" width="10px" style="position: absolute; height: 100%">
  <tbody><tr>
    <td background="/static/imgs/arrowbg.gif">
    <a href="javascript:changeLeft();"><img src="/static/imgs/arrow-l.gif" name="menuSwitch" border="0" id="menuSwitch"></a></td>
  </tr></tbody>
</table>
</body>
</html>