<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="{% static "css/v1-header.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mainheader">
    <div class="mainheader_left">
        <img src="/static/imgs/wust_whithfont.png" style="height: 60px;">
    </div>
    <div class="mainheader_right">
{#        <img src="/static/imgs/websitename.png" style="height: 60px;">#}
    </div>

</div>

</body>
</html>